[data-md-color-scheme="chickenstats-light"] {

  --md-primary-fg-color:               #D3D3D3;
  --md-primary-fg-color--light:        #D3D3D3;
  --md-primary-fg-color--dark:         #D3D3D3;
  --md-primary-bg-color:               #041E42;
  --md-primary-bg-color--light:        #041E42;

  --md-accent-fg-color:                #D3D3D3;
  --md-accent-fg-color--transparent:   #D3D3D3;
  --md-accent-bg-color:                #041E42;
  --md-accent-bg-color--light:         #041E42;
}

