site_name: chickenstats
site_author: Chicken and Stats
repo_url: https://github.com/chickenandstats/chickenstats
site_url: https://chickenstats.com/
site_description: "Technical documentation & reference materials for chickenstats,
                    an open-source Python package for scraping & analyzing sports data"

nav:
  - Home: 'index.md'
  - 'User Guide': 
    - 'User Guide': 'guide/guide.md'
    - Modules:
      - chicken_nhl: 'guide/chicken_nhl/chicken_nhl.md'
      - evolving_hockey: 'guide/evolving_hockey/evolving_hockey.md'
    - Tutorials:
      - "Shot Maps": 'guide/tutorials/shot_maps.md'
      - "Forward lines": 'guide/tutorials/forward_lines.md'
      - "GSaX": 'guide/tutorials/gsax.md'
      - "Rolling xG / 60": 'guide/tutorials/rolling_xg.md'
      - "Lollipop xG": 'guide/tutorials/lollipop.md'
      - "Network graphs": 'guide/tutorials/network.md'
    - Examples:
      - Gallery: 'guide/examples/gallery.md'
      - "Original Research": 'guide/examples/original_research.md'
  - Reference:
    - 'Reference': 'reference/reference.md'
    - chicken_nhl:
      - "scrape": 'reference/chicken_nhl/scrape.md'
    - evolving_hockey:
        - "stats": 'reference/evolving_hockey/stats.md'
  - "xG Model":
    - 'xG Model': 'xg_model/xg_model.md'
    - 'The Model':
      - Overview: 'xg_model/overview.md'
  - Blog:
      - 'blog/index.md'
  - Contribute:
    - Contribute: 'contribute/contribute.md'
    - "Known Issues":
      - "Known Issues": 'contribute/known_issues.md'
    - Roadmap:
      - Roadmap: 'contribute/roadmap.md'
    - "Under the Hood":
      - "Design": 'contribute/backend/design.md'
      - "chicken_nhl": 'contribute/backend/chicken_nhl.md'
      - "evolving_hockey": 'contribute/backend/evolving_hockey.md'

theme:
  name: material
  favicon: assets/site_images/favicon.png
  icon:
    repo: fontawesome/brands/github
    logo: material/food-drumstick
    tag:
      chickenstats: material/food-drumstick
      chicken-nhl: material/hockey-sticks
      evolving-hockey: material/hockey-puck
      hockey: material/hockey-puck
      xg-model: material/google-analytics
  custom_dir: docs/overrides
  features:
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - header.autohide
    - navigation.instant
    - navigation.path
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.footer
    - search.highlight
    - search.suggest
    - search.share
    - toc.follow
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle: 
        icon: material/toggle-switch
        name: Switch to dark mode 
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle: 
        icon: material/toggle-switch-off-outline
        name: Switch to system preference

extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_TOKEN
  social:
    - icon: /fontawesome/regular/envelope
      name: Send me an email
      link: mailto:chicken@chickenandstats.com
    - icon: fontawesome/brands/github-alt
      name: chickenstats Github repository
      link: https://github.com/chickenandstats
    - icon: fontawesome/brands/bluesky
      name: '@chickenandstats.com'
      link: https://bsky.app/profile/chickenandstats.com
    - icon: fontawesome/brands/python
      name: Python Package Index (PyPI)
      link: https://pypi.org/project/chickenstats/

  consent:
    title: "chickenstats values your privacy"
    description: |
      chickenstats uses cookies to enhance your browsing experience and
      to measure the effectiveness of the site (e.g., successful searches, helpfulness of examples).
      By clicking "Accept all," you consent to the use of cookies
    actions: 
      - accept
      - reject
      - manage
      
  version:
    provider: mike
    default: latest
  tags:
    chickenstats: chickenstats
    chicken-nhl: chicken-nhl
    evolving-hockey: evolving-hockey
    hockey: hockey
    "xG model": xg-model

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - meta
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - social:
      cards_layout_dir: docs/layouts
      cards_layout_options:
        background_color: "#00000095"
        background_image: docs/layouts/backgrounds/default.png
      cache: false
  - blog:
      blog_toc: true
      post_date_format: medium
      post_url_date_format: yyyy/MM
      post_url_format: "{date}/{slug}"
      post_excerpt: required
      post_excerpt_max_authors: 2
      post_excerpt_max_categories: 2
      post_excerpt_separator: <!-- more -->
      post_readtime_words_per_minute: 300
      post_readtime: true
      pagination: false
      draft_on_serve: true
      authors_profiles: true
      categories: true
      categories_allowed:
        - hockey
        - xG
  - tags
  - typeset
  - meta
  - search:
      pipeline:
        - stemmer
        - stopWordFilter
        - trimmer
  - mkdocstrings:
      handlers:
        python:
          paths: [src/chickenstats]
          options:
            docstring_style: google
            show_root_heading: True
            show_source: True
            show_root_toc_entry: True
            show_root_full_path: False
            separate_signature: True
            merge_init_into_class: False
  - mike:
      version_selector: True
  - privacy
  - optimize
  - glightbox:
      loop: True
      manual: True
      background: none
  - table-reader

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js

extra_css:
  - stylesheets/extra.css

copyright: |
  <p>&copy; 2024 <a href="https://www.chickenandstats.com"  target="_blank" rel="noopener">Chicken and Stats<br>
  <a href="#__consent">Change cookie settings</a></p>




