[tool.poetry]
name = "chickenstats"
version = "1.7.9.4"
description = "A Python package for scraping & analyzing sports statistics"
authors = ["chickenandstats <chicken@chickenandstats.com>"]
license = "GPL-3.0-only"
packages = [{include = "chickenstats"},
            {include = "chickenstats/chicken_nhl"},
            {include = "chickenstats/evolving_hockey"},]
include = ["chickenstats/chicken_nhl/xg_models/*.json",]
maintainers = ["chickenandstats <chicken@chickenandstats.com>"]
readme = "README.md"
repository = "https://github.com/chickenandstats/chickenstats"
documentation = "https://www.chickenstats.com"

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.31.0"
pandas = "^2.1.4"
numpy = "^1.26.2"
beautifulsoup4 = "^4.12.2"
lxml = "^4.9.4"
Unidecode = "^1.3.7"
shapely = "^2.0.2"
scikit-learn = "^1.3.2"
geopandas = "^0.14.1"
rich = "^13.7.0"
tqdm = "^4.66.1"
pydantic = "^2.5.3"
pandera = "^0.18.3"
setuptools = "^69.5.1"
xgboost = "^2.0.3"
mlflow = { version = "^2.11.3", optional = true }
optuna = { version = "^3.5.0", optional = true }
python-dotenv = { version = "^1.0.0", optional = true }
black = { version = "^23.12.1", optional = true }
ruff = { version = "^0.1.9", optional = true }
jupyter = { version = "^1.0.0", optional = true }
pytest = { version = "^7.4.3", optional = true }
pytest-cov = { version = "^4.1.0", optional = true }
mkdocs = { version = "^1.5.3", optional = true }
mkdocs-material = { version = "^9.5.3", optional = true, extras = ["imaging"] }
tox = { version = "^4.11.4", optional = true }
cronitor = { version = "^4.7.0", optional = true }
docker = { version = "^7.0.0", optional = true }
psycopg2-binary = { version = "^2.9.9", optional = true }
databricks-cli = { version = "^0.18.0", optional = true }
caddy = { version = "^1.3.2", optional = true }
aiohttp = { version = "^3.9.5", optional = true }
yellowbrick = { version = "^1.5", optional = true }
shap = { version = "^0.45.0", optional = true }
boto3 = { version = "^1.34.93", optional = true }
ipython = { version = "^8.24.0", optional = true }
seaborn = { version = "^0.13.2", optional = true }
hockey-rink = { version = "^1.0.2", optional = true }
mkdocs-glightbox = {version = "^0.4.0", optional = true}
matplotlib = {version = "^3.8.4", optional = true}
sqlmodel = {version = "^0.0.19", optional = true}
fastapi = {version = "^0.111.0", optional = true}


[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
mlflow = "^2.11.3"
optuna = "^3.5.0"
python-dotenv = "^1.0.0"
black = "^23.12.1"
ruff = "^0.1.9"
jupyter = "^1.0.0"
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
mkdocs = "^1.5.3"
mkdocs-material = "^9.5.3"
tox = "^4.11.4"
cronitor = "^4.7.0"
docker = "^7.0.0"
psycopg2-binary = "^2.9.9"
databricks-cli = "^0.18.0"
caddy = "^1.3.2"
aiohttp = "^3.9.5"
yellowbrick = "^1.5"
shap = "^0.45.0"
boto3 = "^1.34.93"
ipython = "^8.24.0"
mkdocs-glightbox = "^0.4.0"
sqlmodel = "^0.0.19"
fastapi = "^0.111.0"

[tool.poetry.group.plotting]
optional = true

[tool.poetry.group.plotting.dependencies]
seaborn = "^0.13.2"
hockey-rink = "^1.0.2"

[tool.poetry.extras]
all = [
    "mlflow",
    "optuna",
    "python-dotenv",
    "black",
    "ruff",
    "jupyter",
    "pytest",
    "pytest-cov",
    "matplotlib",
    "mkdocs",
    "mkdocs-material",
    "tox",
    "cronitor",
    "docker",
    "psycopg2-binary",
    "databricks-cli",
    "caddy",
    "aiohttp",
    "yellowbrick",
    "shap",
    "boto3",
    "seaborn",
    "matplotlib",
    "hockey-rink",
    "mkdocs-glightbox",
    "sqlmodel",
    "fastapi",
    ]

dev = [
    "mlflow",
    "optuna",
    "python-dotenv",
    "black",
    "ruff",
    "jupyter",
    "pytest",
    "pytest-cov",
    "mkdocs",
    "mkdocs-material",
    "tox",
    "cronitor",
    "docker",
    "psycopg2-binary",
    "databricks-cli",
    "caddy",
    "aiohttp",
    "yellowbrick",
    "shap",
    "boto3",
    "mkdocs-glightbox",
    "sqlmodel",
    "fastapi",
    ]

plotting = [
    "seaborn",
    "matplotlib",
    "hockey-rink"
    ]

[tool.ruff]
include = [
    "pyproject.toml",
    "chickenstats/**/*.py",
    "tests/**/*.py"
    ]

extend-include = ["*.ipynb"]
exclude = [
    "*__init__.py",
    ]

target-version = "py310"
fix = true
fixable = ["ALL"]

ignore = ["F401", "D100"]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = ["D"]

[tool.ruff.lint]
select = ["D"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
docstring-code-format = true

[tool.pytest.ini_options]
testpaths = ["tests",]
minversion = 7.0


[tool.coverage.run]
relative_files = true


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
