[project]
name = "chickenstats"
version = "1.7.9.6"
description = "A Python package for scraping & analyzing sports statistics"
authors = [{name = "chickenandstats", email = "chicken@chickenandstats.com"}]
maintainers = [{name = "chickenandstats", email = "chicken@chickenandstats.com"}]
readme = "README.md"
repository = "https://github.com/chickenandstats/chickenstats"
documentation = "https://www.chickenstats.com"
license = "GPL-3.0-only"
requires-python = ">=3.10"
packages = [{include = "src/chickenstats"},
            {include = "src/chickenstats/chicken_nhl"},
            {include = "src/chickenstats/evolving_hockey"},]
include = ["src/chickenstats/chicken_nhl/xg_models/*.json",]
dependencies = [
    "beautifulsoup4>=4.12.3",
    "geopandas>=1.0.1",
    "lxml>=5.3.0",
    "numpy>=2.1.1",
    "pandas>=2.2.2",
    "pandera>=0.20.4",
    "pydantic>=2.9.0",
    "requests>=2.32.3",
    "rich>=13.8.0",
    "scikit-learn>=1.5.1",
    "shapely>=2.0.6",
    "unidecode>=1.3.8",
    "xgboost>=2.1.1",
]

[project.optional-dependencies]
plotting = [
    "hockey-rink>=1.0.3",
    "matplotlib>=3.9.2",
    "seaborn>=0.13.2",
]
extra = [
    "boto3>=1.35.14",
    "caddy>=1.3.2",
    "cronitor>=4.7.1",
    "fastapi>=0.114.0",
    "hockey-rink>=1.0.3",
    "matplotlib>=3.9.2",
    "mlflow>=2.16.0",
    "optuna>=4.0.0",
    "psycopg2-binary>=2.9.9",
    "python-dotenv>=1.0.1",
    "seaborn>=0.13.2",
    "sqlmodel>=0.0.22",
    "tox>=4.18.1",
    "yellowbrick>=1.5",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

# [tool.hatch.build.targets.wheel]
# packages = ["src/chickenstats"]

[tool.uv]
dev-dependencies = [
    "mkdocs-glightbox>=0.4.0",
    "mkdocs-material>=9.5.34",
    "mkdocs>=1.6.1",
    "pytest-cov>=5.0.0",
    "pytest>=8.3.2",
    "ruff>=0.6.4",
    "tox>=4.18.1",
]

[tool.ruff]
include = [
    "pyproject.toml",
    "src/chickenstats/**/*.py",
    "tests/**/*.py"
    ]
extend-include = ["*.ipynb"]
exclude = [
    "*__init__.py",
    ]
target-version = "py312"
fix = true

[tool.ruff.lint]
select = ["D"]
fixable = ["ALL"]
ignore = ["F401", "D100"]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = ["D"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
docstring-code-format = true

[tool.pytest.ini_options]
testpaths = ["tests",]
minversion = 7.0

[tool.coverage.run]
relative_files = true
