{% extends "base.html" %}

{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}

{% block announce %}
  For updates follow <a href="https://twitter.com/chickenandstats">
    <strong>@chickenandstats</strong>
  </a> on
  <a href="https://twitter.com/chickenandstats">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
{% endblock %}