@media only screen and (min-width: 1025px) {
 .desktop {
 display: block; !important;
 }
 .tablet {
  display: none !important;
 }
 .mobile {
 display: none !important;
 }
}
@media only screen and (max-width: 1024px) {
 .desktop {
 display: none !important;
 }
 .tablet {
  display: block; !important;
 }
 .mobile {
 display: none !important;
 }
}
@media only screen and (max-width: 50em) {
 .desktop {
 display: none !important;
 }
 .tablet {
  display: none !important;
 }
 .mobile {
 display: block; !important;
 }
}