@media only screen and (min-width: 77em) {
 .desktop {
 display: block; !important;
 }
 .tablet {
  display: none;
 }
 .mobile {
 display: none;
 }
}
@media only screen and (min-width: 46em) and (max-width: 76em) {
 .desktop {
 display: none;
 }
 .tablet {
  display: block; !important;
 }
 .mobile {
 display: none;
 }
}
@media only screen and (min-width: 5em) and (max-width: 45em) {
 .desktop {
 display: none;
 }
 .tablet {
  display: none;
 }
 .mobile {
 display: block; !important;
 }
}