
name: docs

on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v2

    - name: Set up Python
      run: uv python install 3.12

    - name: Install the project
      run: uv sync --all-extras --dev

    - name: Install dependencies
      run: |
        sudo apt-get install pngquant 
        sudo apt-get install rsync
        uv pip install git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
    - name: Mike deploy
      run: |
        echo "$GH_TAG" | tr -d "v" | cut -c1-3
        TAG=`echo "$GH_TAG" | tr -d "v" | cut -c1-3`
        git config user.name chickenandstats
        git config user.email chicken@chickenandstats.com
        git fetch origin gh-pages --depth=1
        uv mike deploy "$TAG" latest --update-aliases --push -t latest
        uv mike set-default --push latest

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  GH_TAG: ${{ github.ref_name }}
