
name: format + lint

on:
  push:
    paths:
      - 'src/chickenstats/**.py'
      - 'tests/**.py'
  workflow_call:

permissions:
  contents: write


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Set up Python
      run: uv python install

    - name: Install the project
      run: uv sync --dev

    - name: Lint with Ruff
      run: uvx ruff check

    - name: Format with Ruff
      run: uvx ruff format
        
