
name: update-docs

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Configure pages
        uses: actions/configure-pages@v5

      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up virtual environment
        run: uv venv

      - name: Install the project
        run: uv sync --dev

      - name: Build documentation
        run: uv run zensical build --clean

      - name: Upload site as artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy site
        uses: actions/deploy-pages@v4
        id: deployment